@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.bi-list{
  display: none;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo span {
  letter-spacing: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: orangered;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: orangered;
}

.navitems {
  position: relative;
  display: flex;
  column-gap: 70px;
  -webkit-column-gap: 70px;
}

.hero {
  padding: 50px 5%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
}

.hero a {
  background-color: black;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.301);
}

.testimonials {
  height: fit-content;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 50px 5%;
  align-items: center;
}

.card {
  width: 24%;
  color: white;
  border: 1px solid white;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card p {
  margin-bottom: 20px;
}

.card a {
  color: white;
}

.newsletter {
  padding: 0 5%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsletter h2 {
  margin-bottom: 10px;
}

.newsletter input {
  padding: 10px 10px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 30px;
  border: 2px solid black;
  font-size: 1rem;
}

.newsletter button {
  background-color: black;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.301);
  border: 0;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 40px 5%;
    align-items: flex-start;

}

.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col a{
    color: rgb(210, 208, 208);
}

@media (max-width: 800px) {
  .hero h1{
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .testimonials{
    flex-wrap: wrap;
  }
  .card{
    width: 49.3%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .card{
    width: 100%;
    margin-bottom: 10px;
  }
  .card img{
    height: 250px;
  }
  .footer{
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .footer-col{
    width: 50%;
  }
  .navitems{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
    width: 100%;
    left: -100%;
    top: 60px;
    background-color: rgb(52, 43, 43);
    height: 25em;
    transition: 0.3s all ease-in-out;
  }
  .bi-list{
    display: block;
    cursor: pointer;
    font-size: 1.7rem;
  }
  .active{
    left: 0;
  }
}